@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
h1.page-title {
	text-align: center;
	text-transform: capitalize;
	font-size: 2.3rem;
	margin-top: 40px;
	font-family: "PT Serif", sans-serif;
}

.reg-form {
	margin-left: 20%;
	margin-right: 20%;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 4%;
}
.page-title-underline {
	position: relative;
	margin-bottom: 3rem;
	margin-top: 2rem;
}
.page-title-underline:before {
	display: block;
	content: "";
	width: 12px;
	height: 12px;
	background-color: #dfceb9;
	position: relative;
	transform: rotate(45deg) translateX(-50%);
	left: 50%;
	top: 10px;
}
.page-title-underline:after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 65%;
	height: 3px;
	background: linear-gradient(
		to right,
		#dfceb9 0%,
		#dfceb9 45%,
		rgba(0, 0, 0, 0) 45%,
		rgba(0, 0, 0, 0) 55%,
		#dfceb9 55%,
		#dfceb9 100%
	);
}

label.control-label.requiredField {
	font-family: "Roboto", sans-serif;
}

button,
p {
	font-family: "PT Serif", sans-serif;
	text-transform: capitalize;
}

button.submit {
	font-weight: 500;
	cursor: pointer;
	border-radius: 4px;
	height: 34px;
	padding: 12px 52px;
	outline: none;
	line-height: 13px;
	font-size: 16px;
	letter-spacing: 0.4px;
	font-family: "Roboto";
	text-transform: uppercase;
	background: #fb641b;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
	border: none;
	color: #fff;
	margin-bottom: 10px;
}
form p:empty {
	display: none;
}
.success {
	color: green;
	transition: all ease-in 0.4s;
}

.error {
	color: red;
	transition: all ease-in 0.4s;
}
