{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static 'css/product/cart.css' %}>
{% endblock %}


{% block content %}
    <section class="page-heading">
        <h1 class="page-title">Your Cart</h1>
        <div class="page-title-underline"></div>
    </section>

    {% if total_items == 0 %}
        <div class="no-items container text-center">
            <h1 class="my-4" style="font-family: 'Roboto';font-size: 2.5rem;">
                No Items Yet 
            </h1>
            <a class="back-to-home" href={% url 'home' %}>
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                continue shopping
            </a>
        </div>
    {% else %}
        <section class="container cart">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantitiy</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in cart_products %}
                        <tr class="cart-row">
                            <th scope="row">
                                <img class="cart-product-image" src={% static 'images/sample_product.jpg' %} alt="">
                                <a href={% url 'detail' product.product.slug %} class="cart-product-title">{{product.product.title}}</a>
                            </th>
                            <td>{{product.quantity}}</td>
                            <td>$ {{product.product.price}}</td>
                            <td>${{product.total}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section class="cart-details container">
            <div class="captions">
                <p>
                    <strong>Subtotal:</strong>
                </p>
                <p>Shipping:</p>
                <p class="golden">Total:</p>
            </div>
            <div class="values">
                <p>
                    <strong>${{ cart_total }}</strong>
                </p>
                <p>Free Shipping</p>
                <p class="golden">$ {{cart_total}}</p>
            </div>
        </section>

        <div class="cart-button container">
            <a class="back-to-home" href={% url 'home' %}>
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                continue shopping
            </a>
            <a class="order-button" href={% url 'create_order' %}>
                place order
            </a>
        </div>
    {% endif %}    
    
{% endblock %}