{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static 'css/product/product_detail.css' %}>
{% endblock %}

{% block content %}
    <main class="page-content">
        <section class="product-details container">    
            <img class="product-image" src="https://rukminim1.flixcart.com/image/880/1056/ktaeqvk0/t-shirt/s/9/q/s-tblwtylhdful-d27-tripr-original-imag6nvahffncmny.jpeg?q=50" alt="" />
            <div class="product-info">
                <h3 class="product-company">
                    {{product.company_name}}
                </h3>
                <p class="product-title">
                    {{product.title}}
                </p>
                <p class="product-status">
                    <i class="fa fa-circle"></i>
                    {{product.get_status_display}}
                </p>
                <p class="product-desc">
                    {{product.description}}
                </p>
                <p class="product-price">
                    ${{product.price}}
                </p>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="number" name="number" id="number" value=1>
                    <button class="add-to-cart" type="submit" hx-post={% url 'update_cart' product.id %} hx-target="#cart-msg" hx-headers='{"X-CSRFToken":"{{csrf_token}}"}'>
                        Add To Cart
                    </button>
                </form>
                <div class="message">
                    <p id="cart-msg"></p>
                </div>
        </section>
    </main>

{% endblock %}