{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static 'css/product/wishlist.css' %}>
{% endblock %}

{% block content %}
    <main class="page-content">
        <h1 class="card-title">WishList</h1>
        <section class="wishlist-product-card-set">
            {% for wishlist_product in wishlist_products %}
                <div class="wishlist-product-card">
                <a href={% url 'detail' wishlist_product.slug %}>
                    <div class="wishlist-product-tumb">
                        <img src={% static 'images/sample_product.jpg' %} alt=""/>
                    </div>
                </a>
                <div class="wishlist-product-details">
                    <span class="wishlist-product-status"><i class="fa fa-circle"></i>  {{wishlist_product.get_status_display}}</span>
                    <h4 class="wishlist-product-title"><a href={% url 'detail' wishlist_product.slug %}>{{wishlist_product.title}}</a></h4>
                    <div class="wishlist-product-bottom-details">
                        <div class="wishlist-product-price">${{wishlist_product.price}}</div>
                        <div class="wishlist-product-links">
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}