{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static 'css/product/wishlist.css' %}>
{% endblock %}

{% block content %}
    <main class="page-content">
        <div class="page-heading">
            <h1 class="page-title">WishList</h1>
            <div class="page-title-underline"></div>
        </div>
        <section class="product-card-set">
            {% for product in wishlist_products %}
            <div class="product-card">
                <div class="product-card-img">
                    <a href={% url 'detail' product.slug %}>
                        <img src=https://rukminim1.flixcart.com/image/880/1056/ktaeqvk0/t-shirt/s/9/q/s-tblwtylhdful-d27-tripr-original-imag6nvahffncmny.jpeg?q=50
                            alt="" srcset="">
                    </a>
                </div>
                <div class="product-card-info">
                    <p class="product-card-status">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        {{product.get_status_display}}
                        </i>
                    </p>
                    <h3 class="product-card-title">
                        <a href={% url 'detail' product.slug %}>{{product.title}}</a>
                    </h3>
                    <div class="product-card-detail">
                        <p class="product-card-price">
                            $ {{product.price}}
                        </p>
                        <div class="product-card-links">
                            <a id="cart-button" href="" hx-patch={% url 'add_to_cart' product.id %} hx-swap="#cart-sign"
                                hx-headers='{"X-CSRFToken":"{{csrf_token}}"}'>
                                {% if product.is_in_cart %}
                                <i id='cart-sign' class="fa fa-shopping-cart yellow-wishlisted"></i>
                                {% else %}
                                <i id='cart-sign' class="fa fa-shopping-cart"></i>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}