@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.nav-logo {
	width: 100px;
	margin-top: 6px;
}
.wrapper.site-header__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
	margin-bottom: 20px;
}
ul.nav__wrapper {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: nowrap;
	margin-top: 20px;
}
li.nav__item {
    margin-left: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}
