@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*:before,
*:after {
	box-sizing: border-box;
}

.sr-only {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

@media (min-width: 780px) {
	.button span {
		display: initial;
	}
}
.nav__wrapper {
	list-style-type: none;
}

.site-header {
	position: relative;
	background-color: #def7ff;
}

.site-header__start {
	width: 18%;
}
.site-header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
@media (min-width: 780px) {
	.site-header__wrapper {
		padding-top: 0;
		padding-bottom: 0;
	}
}
@media (max-width: 780px) {
	.site-header__end {
		padding-right: 4rem;
	}
}

@media (min-width: 780px) {
	.nav__wrapper {
		display: flex;
	}
}

@media (max-width: 780px) {
	.nav__wrapper {
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: -1;
		background-color: #d9f0f7;
		visibility: hidden;
		opacity: 0;
		transform: translateY(-100%);
		transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	}
	.nav__wrapper.active {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
}

.nav__item a {
	display: block;
	padding: 1.5rem 1rem;
}

.nav__toggle {
	display: none;
}
@media (max-width: 780px) {
	.nav__toggle {
		display: block;
		position: absolute;
		right: 1rem;
		top: 1rem;
	}
}
@media (max-width: 900px) {
	header {
		font-size: smaller;
	}
}

a.brand {
	font-size: 1.8rem;
}

@media (max-width: 900px) {
	a.brand {
		font-size: 1.4rem;
	}
}

.nav__wrapper {
	list-style-type: none;
}
.site-header__wrapper {
	padding-left: 5%;
	padding-right: 5%;
	align-items: baseline;
	font-family: "Roboto", sans-serif;
	font-weight: 800;
	text-transform: capitalize;
}
.nav-logo {
	width: 100px;
	margin-top: 6px;
}
.site-header__wrapper {
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}
.categories-navbar {
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
	margin-bottom: 5px;
	max-height: 50px;
	padding-top: 7px;
}
nav.categories-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.categories-navbar ul li {
	margin-left: 14px;
	margin-right: 14px;
	border: 3px solid #7e9198;
	font-family: "Roboto";
	font-weight: 600;
	font-size: 1.02rem;
	border-radius: 10px;
	letter-spacing: 1px;
}
@media (max-width: 1200px) {
	.categories-navbar ul li {
		margin-left: 4px;
		margin-right: 4px;
		font-family: "Roboto";
		font-weight: 600;
		font-size: 0.75rem;
		border-radius: 10px;
		border: 3px solid #7e9198;
		letter-spacing: 1px;
	}
	.categories-navbar {
		box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
		margin-bottom: 5px;
		max-height: 100px;
		padding-top: 7px;
	}
}

@media (max-width: 1400px) and (min-width: 1200px) {
	.categories-navbar ul li {
		margin-left: 7px;
		margin-right: 7px;
		border: 3px solid #7e9198;
		font-family: "Roboto";
		font-weight: 600;
		font-size: 0.75rem;
		border-radius: 10px;
		letter-spacing: 1px;
	}
	.categories-navbar {
		box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
		margin-bottom: 5px;
		max-height: 80px;
		padding-top: 10px;
	}
}
