.category-list {
	z-index: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.category {
	margin: 30px auto;
	width: 300px;
	height: 400px;
	border-radius: 40px;
	cursor: pointer;
	transition: 0.4s;
}

.category .category_image {
	width: inherit;
	height: inherit;
	border-radius: 40px;
}

.category .category_image img {
	width: inherit;
	height: inherit;
	border-radius: 40px;
	object-fit: cover;
}

.category .category_title {
	text-align: center;
	border-radius: 0px 0px 40px 40px;
	font-family: inherit;
	font-size: 35px;
	text-transform: capitalize;
	margin-top: -229px;
	height: 40px;
	font-weight: 600;
}

.category:hover {
	transform: scale(0.9, 0.9);
}

.title-white {
	color: white;
}

.title-black {
	color: black;
}

@media all and (max-width: 902px) {
	.category-list {
		flex-direction: column;
		margin-left: 5%;
		margin-right: 5%;
	}
	.category .category_title {
		font-size: 20px;
	}
}

@media all and (min-width: 902px) and (max-width: 1500px) {
	.category-list {
		margin-left: 10%;
		margin-right: 10%;
	}
	.category .category_title {
		font-size: 25px;
	}
}
@media all and (min-width: 1500px) {
	.category-list {
		margin-left: 20%;
		margin-right: 20%;
	}
}

.page-title {
	text-align: center;
	font-family: ui-serif;
	font-style: normal;
	font-weight: 400;
}

.page-title-underline {
	position: relative;
	margin-bottom: 2rem;
	margin-top: 2rem;
}
.page-title-underline:before {
	display: block;
	content: "";
	width: 12px;
	height: 12px;
	background-color: #dfceb9;
	position: relative;
	transform: rotate(45deg) translateX(-50%);
	left: 50%;
	top: 10px;
}
.page-title-underline:after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 65%;
	height: 3px;
	background: linear-gradient(
		to right,
		#dfceb9 0%,
		#dfceb9 45%,
		rgba(0, 0, 0, 0) 45%,
		rgba(0, 0, 0, 0) 55%,
		#dfceb9 55%,
		#dfceb9 100%
	);
}
