.carousel .carousel-item {
	height: 300px;
	width: 90%;
	margin-left: 5%;
}

.carousel-item img {
	position: absolute;
	height: 719px;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.carousel-inner img {
	margin: auto;
}

.carousel-control-next,
.carousel-control-prev {
	width: 25%;
}

.product-card-set {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 5%;
	width: 80%;
	margin-left: 10%;
}

.product-card-img img {
	width: 300px;
	height: 200px;
	object-fit: contain;
}
.product-card {
	width: 300px;
	height: 360px;
}
.product-card-info {
	margin-left: 24%;
	margin-right: 24%;
	line-height: 1;
}
.product-card-title {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 1.3rem;
	text-transform: capitalize;
}
.product-card-detail {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: nowrap;
	font-weight: 500;
	font-size: 1.1em;
}
.product-card-price {
	font-family: "Roboto", sans-serif;
}
.product-card-status {
	font-size: 0.7rem;
}
i.fa.fa-heart.yellow-wishlisted,
i.fa.fa-shopping-cart.yellow-wishlisted {
	color: #fbb72c !important;
}
.product-card-links a:hover {
	color: #fbb72c;
}
