@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
.product-card-set {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.product-card {
	width: 300px;
	position: relative;
	box-shadow: 0 2px 7px #dfdfdf;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 20px;
	padding: 1px;
	margin-bottom: 5%;
}

.product-tumb {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-tumb img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 20px;
}

.product-bottom-details {
	overflow: hidden;
	border-top: 0 0.5px 5px #dfdfdf;
	padding-top: 20px;
	padding-left: 20px;
}

.product-bottom-details div {
	float: left;
	width: 50%;
}

.product-price {
	font-size: 18x;
	color: #fbb72c;
	font-weight: 600;
}

.product-price small {
	font-size: 80%;
	font-weight: 400;
	text-decoration: line-through;
	display: inline-block;
	margin-right: 5px;
}

.product-links {
	text-align: right;
}

.product-links a {
	display: inline-block;
	margin-left: 5px;
	color: #e1e1e1;
	transition: 0.3s;
	font-size: 17px;
}

.product-links a:hover {
	color: #fbb72c;
}

.product-title {
	font-size: 1.5rem;
	font-style: oblique;
	font-family: unset;
	font-weight: 400;
	text-transform: capitalize;
}
.product-status {
	font-style: italic;
	font-family: monospace;
}

.product-details {
	margin: 20px;
}

.fa-circle {
	display: contents;
}
.card-title {
	text-align: center;
}
