@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.product-card-set {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 5%;
	width: 80%;
	margin-left: 10%;
}

.product-card-img img {
	width: 300px;
	height: 200px;
	object-fit: contain;
}
.product-card {
	width: 300px;
	height: 360px;
}
.product-card-info {
	margin-left: 24%;
	margin-right: 24%;
	line-height: 1;
}
.product-card-title {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 1.3rem;
	text-transform: capitalize;
}
.product-card-detail {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: nowrap;
	font-weight: 500;
	font-size: 1.1em;
}
.product-card-price {
	font-family: "Roboto", sans-serif;
}
.product-card-status {
	font-size: 0.7rem;
}
i.fa.fa-heart.yellow-wishlisted,
i.fa.fa-shopping-cart.yellow-wishlisted {
	color: #fbb72c !important;
}
.product-card-links a:hover {
	color: #fbb72c;
}
.page-title {
	text-align: center;
	font-family: "Roboto";
	font-weight: 800;
	font-size: 2.5rem;
}

.page-title-underline {
	position: relative;
	margin-bottom: 2rem;
	margin-top: 2rem;
}
.page-title-underline:before {
	display: block;
	content: "";
	width: 12px;
	height: 12px;
	background-color: #dfceb9;
	position: relative;
	transform: rotate(45deg) translateX(-50%);
	left: 50%;
	top: 10px;
}

.page-title-underline:after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 65%;
	height: 3px;
	background: linear-gradient(
		to right,
		#dfceb9 0%,
		#dfceb9 45%,
		rgba(0, 0, 0, 0) 45%,
		rgba(0, 0, 0, 0) 55%,
		#dfceb9 55%,
		#dfceb9 100%
	);
}
