{% load static%}
<link rel="stylesheet" href={% static 'css/navbar.css' %}>

<nav class="navbar-nav">
    <div class="navbar-div">
        <a href="/">E-Buy</a>
    </div class="navbar-div">
    <ul class="navbar-ul">
        <li class="navbar-li">
            <a href="#">Link1</a>
        </li>
        <li class="navbar-li">
            <a href="#">Link2</a>
        </li>
        <li class="navbar-li">
            <a href="#">Link3</a>
        </li>
        <li class="navbar-li">
            <a href="#">Link4</a>
        </li>
    </ul>
</nav class="navbar-nav">
