{% load static%}
<link rel="stylesheet" href={% static 'css/navbar.css' %}>

<nav class="navbar-nav">
    <div class="navbar-div">
        <a href="/">E-Buy</a>
    </div class="navbar-div">
    <ul class="navbar-ul">
        <li class="navbar-li">
            <a href="#">Categories</a>
        </li>
        {% if user.is_authenticated %}
            <li class="navbar-li">
            <a href={% url 'home'%}>Logout</a>
        </li>
        {% else %}
            <li class="navbar-li">
                <a href={% url 'home'%}>Login</a>
            </li>
            <li class="navbar-li">
                <a href={% url 'home'%}>Signup</a>
            </li>
        {% endif %}
    </ul>
</nav class="navbar-nav">
